<?xml version="1.0" encoding="utf-8"?>
<manifest package="pl.modrakowski.mvpjug"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.ui.simple.SimpleLoginActivity"
            android:label="SIMPLE_MVP_JUG">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".login.ui.charged.ChargedLoginActivity_"
            android:label="CHARGED_MVP_JUG">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".common.NormalUserActivity"/>
        <activity android:name=".common.PremiumUserActivity"/>

        <activity
            android:name=".login.KotlinLoginActivity"
            android:label="KOTLIN_MVP_JUG">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>